<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{post.published_date}} </p>
                <h1><a href =""> {{post.title}} </a></h1>
                <p> {{ post.text|linebreaksbr }} </p>
            </div>
        {% endfor %}

    </body>
</html>

<!-- to jest komentarz w htmu, jesli chcesz miec tajne komentarze pisz je w django  -->
<!-- w podwojnych nawiasach klamrowych mamy zmienna -->
<!-- {{ post.text|linebreaksbr }} tutaj przed | jest zmienna, a po | funkcja ktora wykonujemy na tej zmiennej -->
<!-- |linebreaksbr przepuszcza wpisy przez filtr, który zamienia znaczniki nowej linii na akapity. -->
